body{
  background-color: lightcoral;
  color: blue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 1rem;
}

.wrapper{
  border: 1rem dotted lavender;
  padding: 1rem;
  width: 700px;
  text-align: center;
}